* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Oxanium', sans-serif; 
    background-color: #000;
    overflow: hidden; 
}

.cover-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.cover-page img {
  width: 100vw; 
  height: 100vh; 
  object-fit: cover; 
}

/* Boot up */
.boot-up-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #271d13;
    display: none;
    justify-content: flex-start; 
    align-items: flex-start; 
    z-index: 999;
    margin: 0; 
}

/* Boot up text */
.boot-up-text {
    color: #FD9E1B;
    font-family: 'Oxanium', sans-serif;
    font-size: 24px;
    text-align: left; 
    padding-left: 20px; 
    padding-top: 20px; 
    padding-right: 10px; 
    overflow: hidden; 
    width: 100%; 
    display: block; 
    white-space: pre-wrap; 
    word-wrap: break-word; 
    margin: 0; 
    box-sizing: border-box; 
    line-height: 1.5; 
    word-break: break-word; 
}

/* Typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Desktop background */
.desktop-background {
    background-image: url('images/desktop-background.png'); /* Your desktop background */
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
}

/* Sticky note */
.sticky-note {
    position: absolute;
    top: 50px;
    left: 56%;
    width: 300px;
    height: 300px;
    background: url('images/sticky-note-background.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

/* Pop up */
.popup-tab {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 550px; 
    height: 410px; 
    background: url('images/popup-tab-background.png') no-repeat center center;
    background-size: contain; 
    padding: 20px;
    display: none;
}

/* Select image icon */
#select-image-icon {
    display: block;
    width: 89px; 
    height: auto;
    margin: 50px auto 10px auto; 
    cursor: pointer;
}

/* Filename bar */
#filename-bar {
    width: 30%;
    height: 25px;
    background-color: #E6E5DC; 
    color: #000;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    margin: 15px auto;
    border: 0.9px solid #000; 
    border-radius: 3px;
    font-family: 'Oxanium', sans-serif;
}

/* Tags bar */
#tag-container {
    margin: 18px 0;
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    position: relative; 
}

/* Hashtag */
#hashtag {
    font-size: 20px; 
    color: #ff00f2; 
    padding: 5px 10px; 
    font-family: 'Oxanium', sans-serif;
    text-transform: capitalize; 
    background-color: transparent; 
    position: absolute; 
    left: 180px; 
}

/* Tags dropdown */
#tags {
    background-color: #E6E5DC; 
    color: #000;
    border: 0.9px solid #000;
    padding: 5px 10px;
    font-size: 12px;
    width: 15%; 
    font-family: 'Oxanium', sans-serif; 
    appearance: none; 
    text-align: center;
}

/* Tags bar, pick a tag text */
#tags option:first-child {
    color: #888; 
}

/* Send button for image upload */
#save-image {
    background: url('images/send-button.png') no-repeat center center;
    background-size: contain; 
    width: 165px; 
    height: 90px; 
    border: none; 
    cursor: pointer;  
    position: absolute; 
    left: 50%;  
    transform: translateX(-50%); 
    bottom: 20px; 
    
}

/* Success alert */
.alert-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #FFFEF5;
    border: 3px solid #34332C; 
    padding: 20px;
    font-family: 'Oxanium', sans-serif;
    box-shadow: inset -2px -2px 0 #000, inset 2px 2px 0 #fff;
    z-index: 2000;
    text-align: center;
}
  
.alert-header {
    font-weight: bold;
    color: #34332C;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
  
.alert-body {
    color: #34332C;
    font-size: 14px;
    margin-bottom: 20px;
}

  #success-alert {
    display: none;
  }

  #success-alert.show {
    display: block; 
  }
  
  .alert-box button {
    background-color: #FFFEF5;
    border: 2px solid #34332C;
    padding: 5px 15px;
    font-family: 'Oxanium', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
}
  
.alert-box button:hover {
    background-color: #FFFEF5;
}

/* Confirm button for pixelating image */
#confirm-button-container {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #FFFEF5;
    border-top: 1px solid #FFFEF5;
    text-align: center;
    border-radius: 10px;
  }

  #confirm-button-container #confirm-button {
    font-family: 'Oxanium', sans-serif;
    font-weight: bold;
    background-color: #34332C;
  }

  .pixelated-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

 .folder {
   width: 100px; 
   height: 100px; 
   background-color: transparent;
   padding: 0; 
   cursor: pointer;
   position: absolute;
 }
 
 
 #folder-name1, #folder-name2, #folder-name3, #folder-name4 {
   font-size: 15px;
   font-weight: bold;
   margin-top: 5px;
   color: #34332C;
 }
 
 .folder img {
   width: 100%;
   height: 100%;
   object-fit: contain;
 }
 
 .folder-contents {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #FFFEF5;
   border: 3px solid #34332C;
   border-radius: 5px;
   width: 800px;
   height: 600px;
   padding: 20px;
   display: none;
   grid-template-columns: repeat(8, 1fr);
   grid-gap: 20px;
   justify-items: start;
   align-content: start;
   z-index: 1; 
 }
 
 .folder-contents.show {
   display: grid;
 }
 
 .folder-contents .image-container {
   border: 1px solid #FFFEF5;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .folder-contents .image-container img {
   max-width: 100%;
   max-height: 100%;
   object-fit: contain;
   cursor: pointer;
   image-rendering: pixelated; 
 }
 
 .folder-contents .image-container img:hover {
   border: 1px solid #34332C;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 }
 
 .folder:hover {
   background-color: transparent;
 }
  
  .fullscreen-image {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 1000; 
  }
  
  .fullscreen-image img {
      width: 100%;
      height: 100%;
      object-fit: contain;
  }
  
  .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #FFFEF5;
      color: #34332C;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      font-family: 'Oxanium',sans-serif ;
  }



